.notfound {
  margin: 15px auto;
  padding: 5px 40px 50px;
  color: rgb(80, 112, 239);
  border: 1px solid gray;
}
.item {
  border: 1px solid rgb(155, 154, 154);
  padding: 5px 15px;
}
.container {
  list-style: none;
  padding: 0;
  margin: 0;
}
.name {
  font-size: 18px;
  color: rgb(83, 59, 235);
  font-weight: 600;
}
