.container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
}
.thumb {
  height: 278px;
}
.cardactor {
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 10px;
}
.actorname {
  width: 200px;
}
.role {
  width: 200px;
}
.photo {
  border-radius: 20px;
  width: 200px;
}
